{
  "presets": [
    ["next/babel", {
      "preset-env": {
        "targets": {
          "node": "current"
        }
      }
    }]
  ],
  "plugins": [
    ["styled-components", { "ssr": true }]
  ]
} 